version: "3.9"

services:
  api:
    build: 
      target: development
    restart: "no"
    volumes: 
      - ./api:/app

  frontend:
    build: 
      target: development
    restart: "no"
    volumes: 
      - ./frontend:/app

  proxy:
    ports:
      - 8080:80
